<h1>Life Tracker</h1>

<h2>Recent Life Events</h2>
  
  <ul>
    <% @recent_events.each do |event| %>
      <li><%= event.title %>, <%= event.date %>, <%= event.person.name %></li>
    <% end %>
  </ul>

  <h2> Recent Schools</h2>

    <ul>
      <% @recent_schools.each do |school| %>
        <li><%= school.name %>, <%= school.start_year %> - <%= school.end_year %>, <%= school.person.name %></li>
      <% end %>
    </ul>
  <%= link_to 'New School', new_school_path %>
  <%= link_to 'New Life Event', new_life_event_path %>
  <%= link_to 'People', people_path %>